{% load static %}
<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
{% comment %} user dashboard {% endcomment %}
<link rel="stylesheet" href="{% static 'accounts/dashboard/css/user_profile.css' %}">
<link rel="stylesheet" href="{% static 'accounts/dashboard/css/styles.css' %}">
{% comment %} plans {% endcomment %}
<link rel="stylesheet" href="{% static 'plans/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
<link rel="stylesheet" href="{% static 'plans/vendor/nouislider/nouislider.min.css' %}">
<link rel="stylesheet" href="{% static 'plans/css/style.css' %}">
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/3.20.1/tagify.min.css" integrity="sha512-jH+UJ5qVuqRsqly3r06VOVYnPlHk8AhEIjvv4TKtzDsdS96Roc1xi+MhYACZqDFulwmsPJUjF/vBLHHUYARmCw==" crossorigin="anonymous" />
{% comment %} Fonts {% endcomment %}
<!-- <link rel="stylesheet" href="fonts.css" /> -->