{% extends 'base.html' %}
{% block title_head %}پنل مربیان{% endblock title_head %}
{% block navbar %}
<nav class="navbar navbar-expand-lg bg-dark text-lg-right">
  <a class="navbar-brand" href="#">فیتنو | FITNO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item d-inline-block">
        <a class="nav-link" href="{% url 'coaches:dashboard' %}">صفحه اصلی</a>
      </li>
      <li class="nav-item d-inline-block">
        <a class="nav-link" href="{% url 'coaches:new_requests' %}">درخواست‌های جدید</a>
      </li>
      <li class="nav-item d-inline-block">
        <a class="nav-link" href="#">لیست کلاینت‌ها</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th scope="col">نام کلاینت</th>
                    <th scope="col">تاریخ ثبت درخواست</th>
                    <th scope="col">سایزها</th>
                    <th scope="col">عملیات</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <th scope="row"></th>
                    <td>s</td>
                    <td>d</td>
                    <td>
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td><a class="btn btn-success text-light">انجام</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}